<html>
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="#"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script></script>
  <script src="./js/index.js"></script>
</head>
<body>
  </div>
  <div id="container">
    <h1>Message Board</h1>
    <div id="new-message">
      <div class="row">
        <input id="pass" placeholder="Password" type="password" required></input>
        <button id="save">Save</button>
      <div>
      <textarea id="desc" placeholder="New message here..." required></textarea>
    </div>
    <div class='alert alert-danger'></div>
    <ul id="message-list"></ul>
    <script>
      // let animation = anime({
      //   targets: 'div',
      //   // Properties 
      //   translateX: 100,
      //   borderRadius: 50,
      //   // Property Parameters
      //   duration: 2000,
      //   easing: 'linear',
      //   // Animation Parameters
      //   direction: 'alternate'
      // });  

      var pathEls = document.querySelectorAll('path');
      for (var i = 0; i < pathEls.length; i++) {
        var pathEl = pathEls[i];
        var offset = anime.setDashoffset(pathEl);
        pathEl.setAttribute('stroke-dashoffset', offset);
        anime({
          targets: pathEl,
          strokeDashoffset: [offset, 0],
          duration: anime.random(1000, 3000),
          delay: anime.random(0, 0),
          loop: true,
          direction: 'alternate',
          easing: 'easeInOutSine',
          autoplay: true
        });
      }

      var letterEls = document.querySelectorAll('.letter');
      for (var i = 0; i < letterEls.length; i++) {
        var letterEl = letterEls[i];
        var offset = anime.setDashoffset(letterEl);
        letterEl.setAttribute('stroke-dashoffset', offset);
        anime({
          targets: letterEl,
          duration: anime.random(0, 1000),
          delay: anime.random(0, 300),
          opacity: [
            { value: 0, duration: anime.random(0, 300) },
          ],
          loop: true
        });
      }
    </script>
  </div>
</body>
</html>
