<html>
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="#"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script></script>
  <script src="./js/index.js"></script>
</head>
<body>
  </div>
  <div id="container">
    <h1>Message Board</h1>
    <div id="new-message">
      <div class="row">
        <input id="pass" placeholder="Password" type="password" required></input>
        <button id="save">Save</button>
      <div>
      <textarea id="desc" placeholder="New message here..." required></textarea>
    </div>
    <div class='alert alert-danger'></div>
    <ul id="message-list"></ul>
    
  </div>
</body>
</html>
